body {
	background-color: #070507;
	position: fixed;
	min-width: 1000px;
	width: 100%;
}
@keyframes custom-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
@keyframes custom-fadeout {
	100% {
		opacity: 0;
	}
	0% {
		opacity: 100;
	}
}
.big-container {
	position: fixed;
	height: 100%;
	z-index: -1;
	animation-name: custom-fadein;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}
#container {
	position: fixed;
	height: 100%;
	top: 0px;
	z-index: -10;
	animation-name: custom-fadein;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
}
.pause-screen {
	position: fixed;
	width: 100%;
	top: 0px;
	height: 100%;
	z-index: 0;
	background-color: rgba(8, 8, 8, 0.719);
	top: 54px;
	animation-name: custom-fadein;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}
.resume-screen {
	position: fixed;
	width: 100%;
	z-index: -50;
	top: 54px;
	height: 100%;
	background-color: transparent;
}
.resume-button {
	position: relative;
	border: 2px solid #ffab3dbd;
	background-color: #110e108a;
	color: #ffab3dbd;
	border-radius: 35px;
	top: 18%;
	transition: all 0.3s ease-in-out;
}
.resume-button:hover {
	position: relative;
	border: 2px solid #110e10ce;
	background-color: #ffab3dbd;
	color: #1b1217;
	border-radius: 35px;
	top: 18%;
}
.resume-button:focus {
	outline: 0;
}
.hide-resume-button {
	display: none;
}
.canvas-container {
	height: 50%;
	background-color: rgb(31, 29, 29);
	top: 0;
}

canvas {
	margin-top: 54px;
	width: 100%;
	min-width: 1000px;
	height: 350px;
	transition: all 3s ease-in-out;
}
.count-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.count-down {
	position: absolute;
	width: inherit;
	margin-top: -250px;
	color: #ff0090;
	-webkit-text-stroke: 3px rgb(19, 20, 20);
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	transition: all 1s ease-in-out;
	font-size: 100px;
}

img .pyramid {
	width: 500px;
	display: none;
	border: 10px solid black;
	opacity: 60%;
}

/* .fade-in {
  animation: fadeIn ease-in-out 3s;
  -webkit-animation: fadeIn ease-in-out 3s;
  -moz-animation: fadeIn ease-in-out 3s;
  -o-animation: fadeIn ease-in-out 3s;
  -ms-animation: fadeIn ease-in-out 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
