body {
	margin: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.buttons {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
}

button:hover {
	color: blanchedalmond;
	background-color: rgb(241, 97, 97);
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.btn1 {
	float: left;
	margin-right: 50px;
	background-color: rgba(2, 2, 2, 0.63);
	border: 1px solid rgb(170, 202, 235);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	color: rgb(247, 183, 183);
	font-weight: 800;
	width: 150px;
	line-height: 30px;
	margin-bottom: 40px;
	border-radius: 15px;
	transition: all 0.2s ease-in-out;
}
.btn2 {
	float: left;
	background-color: rgba(2, 2, 2, 0.63);
	border: 1px solid rgb(170, 202, 235);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	color: rgb(247, 183, 183);
	font-weight: 800;
	width: 150px;
	line-height: 30px;
	margin-bottom: 40px;
	border-radius: 15px;
	transition: all 0.2s ease-in-out;
}
.btn1:hover {
	float: left;
	margin-right: 50px;
	color: blanchedalmond;
	background-color: rgb(192, 72, 72);
	text-shadow: 0 0 10px rgb(63, 38, 38);
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin-bottom: 40px;
	transition: all 0.2s ease-in-out;
}
.btn2:hover {
	color: blanchedalmond;
	background-color: rgb(192, 72, 72);
	text-shadow: 0 0 10px rgb(63, 38, 38);
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin-bottom: 40px;
	transition: all 0.2s ease-in-out;
}
.background .end-game-report {
	position: absolute;
	width: 100%;
	top: 0;
}
.end-game-report {
	position: absolute;
	height: 100%;
	width: 120%;
	top: 0;
}

.report-container {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.890);
	/* margin-left: auto;
	margin-right: auto; */
	padding-bottom: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* color: antiquewhite; */
}
.counters {
	width: 65%;
}
.container-end-game {
	display: grid;
	grid-row: 20px;
	width: 100%;
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
	color: rgb(238, 200, 135);
}
.stat-report-category {
	font-weight: bolder;
	font-size: 20px;
	color: rgb(170, 202, 235);
}
.counter {
	font-size: 28px;
	font-weight: 600;
	margin: 10px 0;
	margin-bottom: 40px;
}
.final-score-category {
	font-size: 25px;
	font-weight: 700;
	color: rgb(170, 202, 235);
}
.final-score-counter {
	font-size: 50px;
	font-weight: 900;
	text-shadow: 0 0 5px rgba(255, 248, 220, 0.226);
	margin-top: -15px;
	letter-spacing: 2px;
	color: tomato;
}
.operation {
	position: absolute;
	margin-left: -20px;
	margin-top: -3px;
	font-weight: bold;
	font-size: 30px;
	color: rgb(28, 153, 95);
	text-shadow: 0 0 1px  rgba(255, 255, 255, 0.459);
	filter: brightness(120%);
}
.negative-operation {
	position: absolute;
	margin-left: -18px;
	margin-top: -10px;
	font-weight: bold;
	font-size: 38px;
	color: rgb(143, 10, 10);
	text-shadow: 0 0 1px  rgba(255, 255, 255, 0.404);
	filter: brightness(150%);
}
.multiply-operation {
	position: absolute;
	margin-left: -85px;
	margin-top: 5px;
	font-weight: 700;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.856);
	/* text-shadow: 0 0 1px  rgba(255, 255, 255, 0.459); */
}
.flip-details {
	position: absolute;
	font-size: 12px;
	letter-spacing: 0.0005px;
	margin-left: -15px;
	margin-top: 28px;
	color: tomato;
	transform: rotate(-10deg);
	/* color: burlywood; */
}
@media (max-width: 756px) {
	.counters .container {
		grid-template-columns: repeat(3, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		border-bottom: 1px antiquewhite;
		padding-bottom: 20px;
	}
}

/* .end-game-report {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.end-game-report span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  border: 5px solid #ddd;
  padding: 0 30px;
  border-radius: 25px;
  margin: 0 10px;
}
.box{
  display: inline-block;
  overflow: hidden;
  height: 1em;
  line-height: 1em;
  font-weight: bold;
  font-size: 8em;
}
.box:after{
  position: relative;
  white-space: pre;
  content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9";
}
.box.one:after {
  animation: animate 1s steps(10) infinite;
}
.box.two:after {
  animation: animate 10s steps(10) infinite;
}
.box.three:after {
  animation: animate 100s steps(10) infinite;
}

@keyframes animate{
  0%{
    top: 0;
  }
  100%{
    top: -10em
  }
}

 */
