.container {
  width: 100%;
}

.logo-background {
  position: absolute;
  width: 100%;
  top: 55px;
  left: 0;
  z-index: -20;
}
.logo-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.home-screen-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  align-self: center;
}
.home-screen-buttons-container-hidden {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  align-self: center;
}
.home-screen-buttons {
  width: 100px;
  align-self: center;
  background-color: transparent;
  color: bisque;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.home-screen-buttons:focus {
  outline: 0;
}
.home-screen-buttons:hover {
  width: 100px;
  align-self: center;
  background-color: transparent;
  color: #FC5B0A;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
#logo {
  position: relative;
  align-self: center;
  margin-top: 3%;
  width: 30%;
  transition: all 1s ease-in-out;
  transition-timing-function: cubic-bezier(0.310, 0.00, 0.0, 1.000);

}
#large-logo {
  position: relative;
  align-self: center;
  margin-top: 10%;
  width: 45%;
  transition: all 1s ease-in-out;

}
.container .login-screen {
  position: absolute;
  width: 100%;
  left: 0;
}

.container .login-form {
  flex-direction: column;
  margin-top: 3%;
  width: 100%;
}
.container .login-form-hidden {
  display: none;
  flex-direction: column;
  margin-top: 7%;
  width: 100%;
}
.login {
  color: blanchedalmond;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.input-field {
  text-align: center;
  font-size: 13px;
  color: white;
  border: 1px solid blanchedalmond;
  background-color: rgba(0, 0, 0, 0.15);
  width: 10%;
}

.submit-button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  color: blanchedalmond;
  transition: all 0.2s ease-in-out;
}
.submit-button:hover {
  background-color: transparent;
  border: none;
  text-decoration: none;
  /* color: rgb(143, 62, 51); */
  color: #ff0091;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.1s ease-in-out;
}
