.user-profile {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}
.profile-div {
  border: 5px solid blanchedalmond;
  display: flex;
  align-content: center;
  flex-direction: row;
  background-color: rgb(56, 54, 49);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.parent-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: aqua;
  font-weight: bold;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.column {
  text-align: left;
  color: #ff0091;
  margin-left: -5px;
  text-align: center;
}
span {
  text-align: center;
  color: rgb(252, 229, 229);
  font-size: 17px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.avatar-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
}
.avatar {
  position: relative;
  float: right;
  width: 180px;
  margin-left: 110px;
  margin-top: 40px;
}
.edit-btn {
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgb(252, 229, 229);
  border: none;
  margin-top: 10px;
  margin-left: 320px;
  transition: all 0.1s ease-in-out;
}
.edit-btn:hover {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  color: #ff0091;
  transition: all 0.1s ease-in-out;
}
