.user-profile {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}
.profile-div {
  border: 5px solid blanchedalmond;
  display: flex;
  align-content: center;
  flex-direction: row;
  background-color: rgb(56, 54, 49);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.parent-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: aqua;
  font-weight: bold;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.column {
  text-align: left;
  color: #ff0091;
  margin-left: -5px;
  text-align: center;
}
span {
  text-align: center;
  color: rgb(252, 229, 229);
  font-size: 17px;
  margin-top: -10px;
  margin-bottom: 5px;
  /* margin-left: 5px; */
}

.avatar-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  /* margin-right: 255px; */
  /* margin-top: -75px; */
}
.avatar {
  position: relative;
  float: right;
  width: 180px;
  margin-left: 110px;
  margin-top: 40px;
  /* margin-right: auto; */
  /* white-space: break-spaces; */
}
.edit-btn {
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgb(252, 229, 229);
  border: none;
  margin-top: 10px;
  margin-left: 320px;
  /* margin-left: auto;
  margin-right: auto; */
  transition: all 0.1s ease-in-out;
}
.edit-btn:hover {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  color: #ff0091;
  /* margin-top: 270px; */
  /* margin-left: auto;
  margin-right: auto; */
  transition: all 0.1s ease-in-out;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 41%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.small.loader{
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  margin-top: 20%;
  margin-left: 70%;
}
