.avatar {
    width: 180px;
}

.gold-border {
    border: 2px solid gold;
    border-radius: 90px;
}

.avatar-frame {
    display: grid;
    grid-row: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
}