body {
  /* background-color: rgb(45, 43, 39); */
  background-color: rgb(39, 44, 44);
}
#container {
  position: relative;
}

canvas {
  /* opacity: 100%; */
  width: 100%;
  height: 350px;
  border: 1px solid transparent;
  transition: all 3s ease-in-out;
}
.count-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#count-down {
  position: absolute;
  width: inherit;
  margin-top: -250px;
  color: rgb(116, 55, 55);
  -webkit-text-stroke: 1px rgb(241, 216, 179);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: all 1s ease-in-out;
  font-size: 70px;
}

img .pyramid {
  width: 500px;
  display: none;
  border: 10px solid black;
  opacity: 60%;
}

.fade-in {
  animation: fadeIn ease-in-out 3s;
  -webkit-animation: fadeIn ease-in-out 3s;
  -moz-animation: fadeIn ease-in-out 3s;
  -o-animation: fadeIn ease-in-out 3s;
  -ms-animation: fadeIn ease-in-out 3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}