.stage-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stage-box div img {
  margin-left: 3px;
  cursor: pointer;
  border: 3px solid transparent;
  width: 80%;
  transition: all 0.2s ease-in-out;
}
.stage-box div img:hover {
  margin-left: 3px;
  cursor: pointer;
  border: 3px solid rgb(141, 229, 245);
  transition: all 0.2s ease-in-out;
  width: 80%;
}

.stage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  /* margin-bottom: 100%; */
}

.stage-title{
  margin-top: 15px;
  font-size: 15px;
  color: rgb(172, 73, 73);
}
.game-menu-header {
  margin-top: 20px;
  color: rgb(172, 73, 73);
}
