.stats-container {
  width: 100%;
}

.stats-div div{
  margin-right: 40px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  float: right;
  text-align: center;
}

h5 {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(104, 134, 141);
  margin-top: 60px;
  margin-bottom: auto;
}
h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(11, 228, 228);
  font-size: x-large;
  margin-top: 5px;
}

.lives {
  float: left;
  justify-content: right;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.lives h4 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}


.player-name {
  margin-top: -5px;
  color: rgb(161, 180, 180);
}