.avatar-frame img {
    width: 8em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4em;
    margin-top: 11em;
}

.avatar {
    width: 12em;
    position: absolute;
    top: 65%;
    left: 50%;
    margin: -6em;
}

.gold-border {
    border: 2px solid gold;
    border-radius: 90px;
}

.avatar-frame {
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
    background-color: pink;
    border-radius: 50%;
}

.deg51 { transform: rotate(51deg) translate(10em) rotate(-51deg); }
.deg102 { transform: rotate(102deg) translate(10em) rotate(-102deg); }
.deg153 { transform: rotate(153deg) translate(10em) rotate(-153deg); }
.deg204 { transform: rotate(204deg) translate(10em) rotate(-204deg); }
.deg255 { transform: rotate(255deg) translate(10em) rotate(-255deg); }
.deg306 { transform: rotate(306deg) translate(10em) rotate(-306deg); }
.deg357 { transform: rotate(357deg) translate(10em) rotate(-357deg); }